<a href="https://colab.research.google.com/github/angelbabu123/my-first-project/blob/main/PYTHONSQLCODE_TAMIL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
There are various databases available for which u have to use a specific connector listed below.
# mysql.connector   - (mysql) sometimes u can get this error -->caching sha2 password error-  innodb
# pymysql   (Best for mysql)
# psycopg2 - Suited for postgresql
# pyodbc- microsoft sql server
# sqlalchemy  - for creating engine

In [ ]:
# sqlite3      - in memory database
# sqlitestudio/ DB browser

In [ ]:
!pip install mysql.connector

Requirement already satisfied: mysql.connector in c:\users\nehla\appdata\local\programs\python\python310\lib\site-packages (2.2.9)

[notice] A new release of pip is available: 23.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
import mysql.connector  #There are various connectors available to connect with mysql database,
#You can use mysql.connector or pymysql connector
#import pymysql

In [ ]:
con= mysql.connector.connect(
    host="localhost",
    user="root",
    password="2594",
    autocommit=True
    )
print(con)


#Alternative pymysql connector
con= pymysql.connect(
    host="localhost",
    user="root",
    password="2594",
    autocommit=True
    )
print(con)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000002AFFF4654B0>

In [ ]:
mycursor=con.cursor()

In [ ]:
mycursor.execute("CREATE DATABASE SQLPYTHON1")

In [ ]:
mycursor.execute("SHOW DATABASES")
for x in mycursor:
    print(x)

('awesome chocolates',)
('firstdb',)
('freshdb',)
('information_schema',)
('mv',)
('mydb',)
('mysql',)
('newdb',)
('performance_schema',)
('pestdatabase',)
('pesticide',)
('projects_hr',)
('sakila',)
('sqlpython',)
('sys',)
('tamilsql',)
('world',)
('youtubedb',)

In [ ]:
mycursor.execute("USE SQLPYTHON1")

In [ ]:
mycursor.execute("CREATE TABLE stud (sid INT,sname VARCHAR(20),mark INT)")

In [ ]:
# VARCHAR -  2000 BYTES
# VARCHAR2- 4000 BYTES

In [ ]:
mycursor.execute("show tables")
for y in mycursor:
    print(y)

('stud',)

In [ ]:
mycursor.execute("insert into stud values(1,'aaa',98),(2,'bbb',88)")

In [ ]:
mycursor.execute("Select * from stud")
for y in mycursor:
    print(y)

(1, 'aaa', 98)
(2, 'bbb', 88)
(3, 'ccc', 55)
(4, 'ddd', 99)
(5, 'gg', 66)

In [ ]:
sql="insert into stud(sid,sname,mark) values(%s,%s,%s)"
mylist=[
    (3,'ccc',55),
    (4,'ddd',99),
    (5,'gg',66),
]
mycursor.executemany(sql,mylist)

In [ ]:
import pandas pd

pd.read_csv(r"Desktop\employee.csv")

In [ ]:
print(mycursor.rowcount, "rows are inserted")

3 rows are inserted

In [ ]:
#You can also iterate the dataframe and insert it into mysql table.

import pandas as pd
import mysql.connector

# Sample DataFrame
data = {
    'id': [1, 2, 3],
    'name': ['Alice', 'Bob', 'Charlie'],
    'age': [25, 30, 35]
}

df = pd.DataFrame(data)

# Establishing the connection
conn = mysql.connector.connect(
    host='your_host',  # e.g., 'localhost'
    user='your_username',
    password='your_password',
    database='your_database'
)

cursor = conn.cursor()

# Create the table
create_table_query = """
CREATE TABLE IF NOT EXISTS person (
    id INT PRIMARY KEY,
    name VARCHAR(100),
    age INT
)
"""
cursor.execute(create_table_query)
conn.commit()

# Define the insert query
insert_query = """
INSERT INTO person (id, name, age) VALUES (%s, %s, %s)
"""

# Iterate over the DataFrame and insert each row
for index, row in df.iterrows():
    cursor.execute(insert_query, (row['id'], row['name'], row['age']))

# Commit the transaction
conn.commit()

In [3]:
!pip install faker

Collecting faker
  Downloading faker-37.12.0-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: tzdata in /usr/local/lib/python3.12/dist-packages (from faker) (2025.2)
Downloading faker-37.12.0-py3-none-any.whl (2.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.0/2.0 MB 27.4 MB/s eta 0:00:00
Installing collected packages: faker
Successfully installed faker-37.12.0

In [4]:
from faker import Faker
import pandas as pd
import random

fake = Faker()

In [5]:
categories = ['Food', 'Groceries', 'Bills', 'Travel', 'Shopping',
              'Entertainment', 'Gifts', 'Healthcare', 'Subscriptions']

payment_modes = ['UPI', 'Credit Card', 'Debit Card', 'Cash', 'Net Banking']

In [6]:
def generate_month_data(month, year=2024, n=250):
    data = []

    for i in range(n):
        transaction = {
            'Date': fake.date_between(start_date=f"{year}-{month}-01", end_date=f"{year}-{month}-28"),
            'Category': random.choice(categories),
            'Payment_Mode': random.choice(payment_modes),
            'Description': fake.sentence(nb_words=4),
            'Amount_Paid': round(random.uniform(50, 5000), 2),
            'Cashback': round(random.uniform(0, 300), 2)
        }
        data.append(transaction)

    return pd.DataFrame(data)

In [11]:
# Run this once (Colab)
!pip install faker pandas sqlalchemy python-dateutil

Requirement already satisfied: faker in /usr/local/lib/python3.12/dist-packages (37.12.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.12/dist-packages (2.0.44)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.12/dist-packages (2.9.0.post0)
Requirement already satisfied: tzdata in /usr/local/lib/python3.12/dist-packages (from faker) (2025.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy) (4.15.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil) (1.17.0)

In [13]:
# Step 1: Data simulation for 12 months (Faker)
from faker import Faker
import pandas as pd
import random
import os
from datetime import datetime
from dateutil.relativedelta import relativedelta

# Initialize
fake = Faker()
Faker.seed(42)
random.seed(42)

# Create output folder
os.makedirs('data', exist_ok=True)

# Config: categories with some realistic probabilities (weights)
categories = [
    'Food', 'Groceries', 'Transportation', 'Bills',
    'Entertainment', 'Subscriptions', 'Travel', 'Gifts', 'Healthcare', 'Shopping'
]
# weights roughly reflect realistic frequency (sum doesn't have to be 1)
category_weights = [0.18, 0.20, 0.12, 0.10, 0.08, 0.06, 0.05, 0.05, 0.08, 0.08]

# Payment modes and relative frequency
payment_modes = ['UPI', 'Credit Card', 'Debit Card', 'Cash', 'Netbanking']
payment_weights = [0.35, 0.30, 0.15, 0.12, 0.08]

# Helper: create a realistic amount depending on category
def amount_for_category(cat):
    if cat == 'Food':
        return round(random.uniform(30, 800), 2)
    if cat == 'Groceries':
        return round(random.uniform(100, 5000), 2)
    if cat == 'Transportation':
        return round(random.uniform(20, 1500), 2)
    if cat == 'Bills':
        return round(random.uniform(300, 8000), 2)
    if cat == 'Entertainment':
        return round(random.uniform(50, 3000), 2)
    if cat == 'Subscriptions':
        return round(random.uniform(50, 1500), 2)
    if cat == 'Travel':
        return round(random.uniform(200, 40000), 2)
    if cat == 'Gifts':
        return round(random.uniform(50, 10000), 2)
    if cat == 'Healthcare':
        return round(random.uniform(50, 20000), 2)
    if cat == 'Shopping':
        return round(random.uniform(100, 15000), 2)
    return round(random.uniform(50, 5000), 2)

# Simulate recurring monthly expenses template (e.g., rent, netflix)
recurring_templates = [
    {'category': 'Bills', 'description': 'Rent/Household', 'amount': 12000.00, 'payment_mode': 'Netbanking'},
    {'category': 'Subscriptions', 'description': 'Streaming Subscription', 'amount': 599.00, 'payment_mode': 'Credit Card'},
    {'category': 'Bills', 'description': 'Internet Bill', 'amount': 799.00, 'payment_mode': 'Debit Card'}
]

def generate_month_data(year, month, n_transactions=250, include_recurring=True):
    rows = []
    # Add recurring transactions once per month (if requested)
    if include_recurring:
        for rec in recurring_templates:
            rows.append({
                'Date': f"{year}-{month:02d}-{random.randint(1,28):02d}",
                'Category': rec['category'],
                'Payment_Mode': rec['payment_mode'],
                'Description': rec['description'],
                'Amount_Paid': rec['amount'],
                'Cashback': 0.00
            })

    # Random transactions
    for _ in range(max(0, n_transactions - len(rows))):
        cat = random.choices(categories, weights=category_weights, k=1)[0]
        pm = random.choices(payment_modes, weights=payment_weights, k=1)[0]
        amt = amount_for_category(cat)
        # Cashback happens occasionally and depends on payment mode and merchant promo
        if pm in ['Credit Card', 'UPI']:
            cashback = round(random.choices([0, round(random.uniform(5, min(amt*0.05, 500)), 2)], weights=[0.75, 0.25])[0], 2)
        else:
            cashback = round(random.choices([0, round(random.uniform(0, min(amt*0.02, 200)), 2)], weights=[0.9, 0.1])[0], 2)

        # Date with zero-padded month/day
        day = random.randint(1, 28)
        date_str = f"{year}-{month:02d}-{day:02d}"

        rows.append({
            'Date': date_str,
            'Category': cat,
            'Payment_Mode': pm,
            'Description': fake.sentence(nb_words=random.randint(3,7)),
            'Amount_Paid': round(amt, 2),
            'Cashback': cashback
        })

    df = pd.DataFrame(rows)
    # Optional: ensure correct dtypes
    df['Date'] = pd.to_datetime(df['Date'])
    df['Amount_Paid'] = df['Amount_Paid'].astype(float)
    df['Cashback'] = df['Cashback'].astype(float)
    # Add a Month column for convenience
    df['Month'] = df['Date'].dt.month_name()
    return df

# Generate for a full year and save
year = 2024
all_months = []
for m in range(1, 13):
    df_month = generate_month_data(year, m, n_transactions=250, include_recurring=True)
    file_path = f"data/{datetime(year, m, 1).strftime('%B')}.csv"
    df_month.to_csv(file_path, index=False)
    print(f"Saved {file_path} ({len(df_month)} rows)")
    all_months.append(df_month)

# Combine into a single DataFrame & save
df_all = pd.concat(all_months, ignore_index=True)
df_all.to_csv("data/expenses_all.csv", index=False)
print("Saved data/expenses_all.csv with", len(df_all), "rows")

Saved data/January.csv (250 rows)
Saved data/February.csv (250 rows)
Saved data/March.csv (250 rows)
Saved data/April.csv (250 rows)
Saved data/May.csv (250 rows)
Saved data/June.csv (250 rows)
Saved data/July.csv (250 rows)
Saved data/August.csv (250 rows)
Saved data/September.csv (250 rows)
Saved data/October.csv (250 rows)
Saved data/November.csv (250 rows)
Saved data/December.csv (250 rows)
Saved data/expenses_all.csv with 3000 rows